<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="view/css/font-awesome.css">
    <script src="https://kit.fontawesome.com/bd45d9ab9b.js" crossorigin="anonymous"></script>
    <title>Tempat Wisata</title>
</head>
<body>
    <div class="nav">
        <ul class="nav_left">
            <li><a id="home" href="index.html"><i class="fa fa-home"></i></a></li>
            <li><a id="about" href="#about2">About us</a></li>
            <li><a id="contact" href="#contact2">Contact</a></li>
        </ul>
        <ul class="nav_mid">
        </ul>
        <ul class="nav_right">
            <li><a id="register" href="register.php">Pesan Ticket</a></li>
            <li><a id="register" href="daftar.php">Register</a></li>
            <li><a id="login" href="login.php">Login</a></li>
        </ul>
    </div>
    <div id=back style="background-image: url(view/img/pexels-laura-stanley-5644292.jpg);">
    <div id="slider">
        <input type="radio" name="slider" id="slide1" checked>
        <input type="radio" name="slider" id="slide2">
        <input type="radio" name="slider" id="slide3">
        <div id="slides">
           <div id="overflow">
              <div class="inner">
                 <div class="slide slide_1">
                    <div class="slide-content">
                       <img src="view/img/pexels-pixabay-314937.jpg" style="width: 100%; height: 100%;">
                    </div>
                 </div>
                 <div class="slide slide_2">
                    <div class="slide-content">
                       <img src="view/img/annie-spratt-JMjNnQ2xFoY-unsplash.jpg"  style="width: 100%; height: 100%;">
                    </div>
                 </div>
                 <div class="slide slide_3">
                    <div class="slide-content">
                       <img src="view/img/pexels-will-kirk-4200090.jpg"  style="width: 100%; height: 100%;">
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div id="controls">
           <label for="slide1"></label>
           <label for="slide2"></label>
           <label for="slide3"></label>
        </div>
        <div id="bullets">
           <label for="slide1"></label>
           <label for="slide2"></label>
           <label for="slide3"></label>
        </div>
     </div>
    </div>
    <div id="about2" style="background-image: url(view/img/roman-kraft-g_gwdpsCVAY-unsplash.jpg);">
        <div class="kir">
            <div class="kot">
               <p>
                  Farmhauss Susu Lembang. Terletak di jalur utama Jalan Raya Lembang No. 108, 
                  Gudangkahuripan, Lembang, Kabupaten Bandung Barat, 
                  membuat Farmhauss Susu Lembang tidak sulit untuk ditemukan. 
                  Sesuai dengan namanya, tiket masuk yang anda beli dapat anda tukarkan dengan segelas susu murni dengan berbagai rasa, 
                  atau dengan sebuah sosis bakar.
                  <br>
                  <br>
                  Farmhauss Susu Lembang, merupakan sebuah area yang didalamnya terdapat beberapa bangunan yang ditata dengan suasana Eropa dimana kalian
                  juga dapat berfoto dengan pakaian bernuansa Eropa yang disewa disini. 
                  Selain bangunan – bangunan bercitarasa Eropa yang ditawarkan disini, terdapat pula sebuah spot foto berupa rumah The Hobbit.
               </p>
            </div>
        </div>
    </div>
    <div id="contact2" style="background-image: url(view/img/hannah-busing-rYWEj9Cyx7E-unsplash.jpg);">
        <div class="ckir">
            <div class="kotc">
               <h1>Contact Us</h1>
               <a>If you need question Contact us here!</a>
            </div>
        </div>
        <div class="ckan">
         <div class="kotc">
            <div class="phonec">
               <a id="user" style="font-size: 25px;"><i class="fas fa-phone"></i> 081212978910</a> 
            </div>
            <div>
               <a id="user" style="font-size: 25px;"><i class="fas fa-envelope"></i> farmhauss@farmlembang.com</a> 
            </div>
            <div>
               <a id="user" style="font-size: 25px;"><i class="fa fa-instagram"></i> farm.hauss</a> 
            </div>
         </div>
        </div>
    </div>
<div>

</div>
</body>
</html>