<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/views/css/main.css">
    <link rel="stylesheet" href="view/css/font-awesome.css">
    <script src="https://kit.fontawesome.com/bd45d9ab9b.js" crossorigin="anonymous"></script>
    <title>Tempat Wisata</title>
</head>
<body>
    <div class="nav">
        <ul class="nav_left">
            <li><a id="home" href="index.html"><i class="fa fa-home"></i></a></li>
            <li><a id="about" href="#about2">About us</a></li>
            <li><a id="contact" href="#contact2">Contact</a></li>
        </ul>
        <ul class="nav_mid">
            <li><a id="search"><i class="fa fa-search"></i></a></li>
            <li><input type="text" placeholder="Search"></li>
        </ul>
        <ul class="nav_right">
            <li><a id="register">Register</a></li>
            <li><a id="login" href="login.html">Login</a></li>
        </ul>
    </div>
    <div id="slider">
        <input type="radio" name="slider" id="slide1" checked>
        <input type="radio" name="slider" id="slide2">
        <input type="radio" name="slider" id="slide3">
        <div id="slides">
           <div id="overflow">
              <div class="inner">
                 <div class="slide slide_1">
                    <div class="slide-content">
                       <img src="/view/img/pexels-laura-stanley-5644292.jpg" style="width: 100%; height: 100%;">
                    </div>
                 </div>
                 <div class="slide slide_2">
                    <div class="slide-content">
                       <img src="/view/img/pexels-pixabay-314937.jpg"  style="width: 100%; height: 100%;">
                    </div>
                 </div>
                 <div class="slide slide_3">
                    <div class="slide-content">
                       <img src="/view/img/pexels-will-kirk-4200090.jpg"  style="width: 100%; height: 100%;">
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div id="controls">
           <label for="slide1"></label>
           <label for="slide2"></label>
           <label for="slide3"></label>
        </div>
        <div id="bullets">
           <label for="slide1"></label>
           <label for="slide2"></label>
           <label for="slide3"></label>
        </div>
     </div>
<div class="regg">
   <div class="reg">


   </div>
</div>
    <div id="about2">
        <div class="kir">

        </div>
        <div class="teng">
            <h2>About us</h2>
        </div>
        <div class="kan">

        </div>
    </div>
    <div id="contact2">
        <div class="ckir">
            <h2>Contact</h2>
        </div>
    </div>
<div>
</div>
</body>
</html>